numpy==1.26.4
scipy==1.13.1
scikit-learn==1.6.1
pandas==2.3.3
matplotlib==3.9.4
librosa==0.11.0
soundfile==0.13.1
torch==2.5.1
torchaudio==2.5.1
timm==1.0.29
einops==0.8.2
panns-inference==0.1.1
sed_eval==0.2.1
dcase_util==0.2.20
sed_scores_eval==0.0.3
sebbs==1.0.2
